body{
    margin: 0; 
    padding: 0; 
}


header{
    margin: 0; 
    background-color: beige; 
    height: 122px; 
}

h1{
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: 'raleway'; 
    font-weight: bold; 
}

.imagebox{ 
    cursor: pointer; 
    display: flex; 
    flex-wrap: wrap; 
    gap: 24px;
    object-fit: cover;
    border-radius: 12px; 
    margin: 0; 
    background-image: linear-gradient(to top, white 20%, lightblue 80%);

}

.thumbnail{
    cursor: pointer; 
   
    height: 225px; 
    width: 225px; 
    object-fit: cover;
    
    border-radius: 12px; 
    margin-left: 80px;
}



.thumbnailbox{
    cursor: pointer; 
    height: 225px; 
    width: 225px; 
    object-fit: cover;
    border-radius: 12px; 
    margin-left: 80px; 
}

.open-image{
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100%; 
    width: 100%;
    position: fixed; 
    z-index: 999; 
    background-color: black; 
    

}

.open-image img{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 80%; 
    width: 80%; 
    object-fit: contain; 
}


.arrow  {
    display: flex; 
    justify-content: center;
    align-items: center; 
    cursor: pointer;
    color: white;
    transition: transform .2s; /* Animation */
     
 
    padding: 1rem;
  
    border-radius: 100%;
}


.arrow img {
    width: 32px; 
    height: 32px; 
}
.arrow:hover{
    transform: scale(1.5);
}

.fullscreen{
    height: 100%;
    width: 100%;
    z-index: 1;
}

.d-none{
    display: none !important; 
}

